.header{
    width: 100%;
    height: 50vh;
    background-image: url(/img/noz-portail-1491.png);
    background-size: cover;
    position: relative;
    &__items{
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &__logo{
            padding: 5px;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            width: 300px;
            background-color: #5b359d;
        }
        h2{
            color: #fff;
            margin-top: 10px;
            text-align: center;
        }
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 50vh;
        background-color: rgba(0,0,0,.5);
        z-index: 1;
    }
}